*
{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

html,
body
{
    overflow: hidden;
    background: black;
}

.webgl
{
    top: 0;
    left: 0;
    outline: none;
}

.interface-wrapper {
    height: 100px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interface-wrapper h2 {
    letter-spacing: 2px;
    color: white;
    margin-left: 10px;
    margin-right: 11px;
}

.arrow-button {
    padding: 6px 10px;
}

.arrow-button:hover {
    cursor: pointer;
}

.loading-div {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    z-index: 20;
    opacity: 1;
    will-change: opacity;
    pointer-events: none;
}

.loading-div.ended {
    opacity: 0;
    transition-delay: 0.5s;
    transition: opacity 1.5s ease;
}

.loading-bar {
    width: 60%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.7s;
    will-change: transform;
}

.loading-bar.ended {
    transform-origin: top right;
    transition: transform 1.5s ease-in-out;
}


.music-container {
    position: absolute;
    right: 20px;
    opacity: 0.9;
    transition: all 2.5s ease;
    will-change: opacity;
}

.music-container-transition {
    opacity: 0;
    transition: all 0.4s ease;
}

.music-container:hover {
    cursor: pointer;
}

.music-path {
    fill: white;
    transition: all 1s ease;
}

.music-playing {
    animation: musicPlaying 1.3s infinite;
    transition: all 1.3s ease;
}

@keyframes musicPlaying {
    0% {
        d: path(
                'M 50.00,20         C 50.00,20 50.00,35.00 50.00,35.00             50.00,35.00 47.00,35.00 47.00,35.00             47.00,35.00 47.00,20 47.00,20             47.00,20 50.00,20 50.00,20 Z           M 41.00,20           C 41.00,20 41.00,35.00 41.00,35.00             41.00,35.00 38.00,35.00 38.00,35.00             38.00,35.00 38.00,20 38.00,20             38.00,20 41.00,20 41.00,20 Z           M 32.00,20           C 32.00,20 32.00,35.00 32.00,35.00             32.00,35.00 29.00,35.00 29.00,35.00             29.00,35.00 29.00,20 29.00,20             29.00,20 32.00,20 32.00,20 Z           M 23.00,20           C 23.00,20 23.00,35.00 23.00,35.00             23.00,35.00 20.00,35.00 20.00,35.00             20.00,35.00 20.00,20 20.00,20             20.00,20 23.00,20 23.00,20 Z           M 14.00,20           C 14.00,20 14.00,35.00 14.00,35.00             14.00,35.00 11.00,35.00 11.00,35.00             11.00,35.00 11.00,20 11.00,20             11.00,20 14.00,20 14.00,20 Z           M 5.00,20           C 5.00,20 5.00,35.00 5.00,35.00             5.00,35.00 2.00,35.00 2.00,35.00             2.00,35.00 2.00,20 2.00,20             2.00,20 5.00,20 5.00,20 Z'
        );
    }
    50% {
        d: path(
                'M 50.00,10         C 50.00,10 50.00,35.00 50.00,35.00             50.00,35.00 47.00,35.00 47.00,35.00             47.00,35.00 47.00,10 47.00,10             47.00,10 50.00,10 50.00,10 Z          M 41.00,15.00           C 41.00,15.00 41.00,35.00 41.00,35.00             41.00,35.00 38.00,35.00 38.00,35.00             38.00,35.00 38.00,15.00 38.00,15.00             38.00,15.00 41.00,15.00 41.00,15.00 Z           M 32.00,16           C 32.00,16 32.00,35.00 32.00,35.00             32.00,35.00 29.00,35.00 29.00,35.00             29.00,35.00 29.00,16 29.00,16             29.00,16 32.00,16 32.00,16 Z           M 23.00,15           C 23.00,15 23.00,35.00 23.00,35.00             23.00,35.00 20.00,35.00 20.00,35.00             20.00,35.00 20.00,15 20.00,15             20.00,15 23.00,15 23.00,15 Z           M 14.00,10           C 14.00,10 14.00,35.00 14.00,35.00             14.00,35.00 11.00,35.00 11.00,35.00             11.00,35.00 11.00,10 11.00,10             11.00,10 14.00,10 14.00,10 Z           M 5.00,15.00           C 5.00,15.00 5.00,35.00 5.00,35.00             5.00,35.00 2.00,35.00 2.00,35.00             2.00,35.00 2.00,15.00 2.00,15.00             2.00,15.00 5.00,15.00 5.00,15.00 Z'
        );
    }
    100% {
        d: path(
                'M 50.00,20         C 50.00,20 50.00,35.00 50.00,35.00             50.00,35.00 47.00,35.00 47.00,35.00             47.00,35.00 47.00,20 47.00,20             47.00,20 50.00,20 50.00,20 Z           M 41.00,20           C 41.00,20 41.00,35.00 41.00,35.00             41.00,35.00 38.00,35.00 38.00,35.00             38.00,35.00 38.00,20 38.00,20             38.00,20 41.00,20 41.00,20 Z           M 32.00,20           C 32.00,20 32.00,35.00 32.00,35.00             32.00,35.00 29.00,35.00 29.00,35.00             29.00,35.00 29.00,20 29.00,20             29.00,20 32.00,20 32.00,20 Z           M 23.00,20           C 23.00,20 23.00,35.00 23.00,35.00             23.00,35.00 20.00,35.00 20.00,35.00             20.00,35.00 20.00,20 20.00,20             20.00,20 23.00,20 23.00,20 Z           M 14.00,20           C 14.00,20 14.00,35.00 14.00,35.00             14.00,35.00 11.00,35.00 11.00,35.00             11.00,35.00 11.00,20 11.00,20             11.00,20 14.00,20 14.00,20 Z           M 5.00,20           C 5.00,20 5.00,35.00 5.00,35.00             5.00,35.00 2.00,35.00 2.00,35.00             2.00,35.00 2.00,20 2.00,20             2.00,20 5.00,20 5.00,20 Z'
        );
    }
}

@media only screen and (max-width: 700px) {
    .music-container {
        bottom: 40px;
    }
}

@media only screen and (min-width: 701px) {
    .music-container {
        top: 20px;
    }
}
